body {
    background: linear-gradient(to bottom, #e0f2f7, #ffffff);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
}

.login-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.login-button:hover {
    background-color: #3367d6;
}

main {
    max-width: 800px;
    margin: 0 auto 10px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    flex-grow: 1;
    margin-right: 10px;
}

button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3367d6;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    background: linear-gradient(to right, #4285f4, #3367d6);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

.button:hover {
    background: linear-gradient(to right, #3367d6, #4285f4);
}

.footer-button {
    background: linear-gradient(to right, #ff6347, #9370DB);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: fit-content;
}

.footer-button:hover {
    opacity: 0.8;
}

footer {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.category-title {
    margin-bottom: 10px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.content-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; 
}

.video-container {
    margin-bottom: 20px;
    overflow: hidden; 
}

.video-container video {
    width: 100%;
    max-width: 640px;
    height: auto;
    border: none;  
}

.button.return-button { 
    background: linear-gradient(to right, #ff6347, #9370DB);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    display: block; 
    width: fit-content;
}

.button.return-button:hover {
    opacity: 0.8;
}

@media (min-width: 1024px) {
    .video-container video {
        width: 640px;
        height: 360px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    .button {
        padding: 8px;
        font-size: 12px;
    }
    .footer-button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .video-container video {
        width: 100%; 
        height: auto; 
    }
}